@media only screen and (max-width: 600px) {
     
    .cel
    {
      font-size: 600%;
      font-family:hero;
      
    }
    .pc
    {
      visibility: hidden;
    }
    
}
@media only screen and (min-width: 600px) {
     
  .cel
  {
    font-size:900%;
    font-family:hero;
    
  }
  .esconde
  {
    visibility: hidden;
  }
 
}
@media only screen and (max-width: 770px) {
  .esconde
  {
    visibility: visible;
  }
}